@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  font-family: 'Montserrat', sans-serif !important;
  background-color: rgb(241 245 249);
  height: 100%;
}

/* .link:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.pointed:hover {
  cursor: pointer;
}

.no-wrap {
  white-space:nowrap;
}

.card {
  box-shadow: 0 2px 1px -1px rgba(170, 136, 136, 0.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  border-radius: 5px;
  display: block;
  background: #fff;
  backdrop-filter: blur( 20px );
  color: rgba(0, 0, 0, .87);
  font-family: 'Montserrat', sans-serif;
}

.shadow {  
  -webkit-box-shadow: 0 3px 7px rgba(99, 46, 46, .3)!important;
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .3)!important;
  box-shadow: 0 3px 7px rgba(0, 0, 0, .3)!important;
  -webkit-background-clip: padding-box!important;
  -moz-background-clip: padding-box!important;
  background-clip: padding-box!important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.row-wrap {
  display: flex;
  flex-flow: wrap;
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  display: flex;
  flex-flow: column;
}

.column-reverse {
  display: flex;
  flex-flow: column-reverse;
}

.border-top {
  border-top: 1px solid rgba( 0, 0, 0, .1 );
}
.border-bottom {
  border-bottom: 1px solid rgba( 0, 0, 0, .1 );
}
.border-right {
  border-right: 1px solid rgba( 0, 0, 0, .1 );
}
.border-left {
  border-left: 1px solid rgba( 0, 0, 0, .1 );
}

.space-between-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.space-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-between-stretch {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.stretch-stretch {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.center-stretch {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.center-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.end-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.end-stretch {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.end-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.start-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.start-stretch {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.pointed:hover {
  cursor: pointer;
}

.animate {
  position: relative;
  -webkit-animation-name: enter_scale;
  -webkit-animation-duration: 0.45s;
  -webkit-animation-timing-function: ease;
  
	-moz-animation-name: enter_scale;
  -moz-animation-duration: 0.45s;
  -moz-animation-timing-function: ease;
  
  -ms-animation-name: enter_scale;
  -ms-animation-duration: 0.45s;
  -ms-animation-timing-function: ease;
  
  -o-animation-name: enter_scale;
  -o-animation-duration: 0.45s;
  -o-animation-timing-function: ease;
  
  animation-name: enter_scale;
  animation-duration: 0.45s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@media screen and (max-width: 599px) {
  .hide-xs {
    display: none;
  }
  .row-wrap-xs {
    display: flex;
    flex-flow: wrap;
  }
  .column-xs {
    display: flex;
    flex-flow: column;
  }
  .margin-top-xs {
    margin-top: 16px;
  }
  .margin-bottom-xs {
    margin-bottom: 16px;
  }
  .border-top-xs {
    border-top: 1px solid rgba( 0, 0, 0, .1 );
  }
  .start-start-xs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .start-stretch-xs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
  .center-stretch-xs {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .start-center-xs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .start-end-xs {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .xs-100 {
    width: 100%;
  }
  .padding-right-xs {
    padding-right: 16px;
  }
}

@media screen and (min-width: 600px) {
  .start-center-gt-xs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .start-end-gt-xs {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .gt-xs-25 {
    width: 25%;
  }
  .gt-xs-33 {
    width: 33%;
  }
  .gt-xs-50 {
    width: 50%;
  }
  .gt-xs-100 {
    width: 100%;
  }
  .hide-gt-xs {
    display: none;
  }
  .row-gt-xs {
    display: flex;
    flex-flow: row;
  }
  .start-stretch-gt-xs {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
  .start-start-gt-xs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .border-top-zero-gt-xs {
    border-top: 0;
  }
  .padding-left-half-gt-xs {
    padding-left: 8px;
  }
  .padding-right-half-gt-xs {
    padding-right: 8px;
  }
  .margin-left-gt-xs {
    margin-left: 16px;
  }
  .margin-right-gt-xs {
    margin-right: 16px;
  }
  .border-left-gt-xs {
    border-left: 1px solid rgba( 0, 0, 0, .1 );
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .row-wrap-sm {
    display: flex;
    flex-flow: wrap;
  }
  .hide-sm {
    display: none;
  }
  .sm-100 {
    width: 100%;
  }
  .sm-80 {
    width: 80%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-60 {
    width: 60%;
  }
  .border-top-sm {
    border-top: 1px solid rgba( 0, 0, 0, .1 );
  }
  .center-stretch-sm {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  .center-start-gt-sm {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .center-stretch-gt-sm {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
  .start-stretch-gt-sm {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }
  .stretch-stretch-gt-sm {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
  .gt-sm-50-max {
    max-width: 50%;
  }
  .gt-sm-60-max {
    max-width: 60%;
  }
  .margin-left-gt-sm {
    margin-left: 16px;
  }
  .margin-left-drawer {
    margin-left: 120px;
  }
  .hide-gt-sm {
    display: none;
  }
  .row-gt-sm {
    display: flex;
    flex-flow: row;
  }
  .start-start-gt-sm {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .start-center-gt-sm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .gt-sm-25 {
    width: 25%;
  }
  .gt-sm-30 {
    width: 30%;
  }
  .gt-sm-33 {
    width: 33%;
  }
  .gt-sm-40 {
    width: 40%;
  }
  .gt-sm-50 {
    width: 50%;
  }
  .gt-sm-60 {
    width: 60%;
  }
  .gt-sm-70 {
    width: 70%;
  }
  .gt-sm-85 {
    width: 85%;
  }
  .gt-sm-80 {
    width: 80%;
  }
  .gt-sm-90 {
    width: 90%;
  }
  .border-left-gt-sm {
    border-left: 1px solid rgba( 0, 0, 0, .1 );
  }
  .border-right-gt-sm {
    border-right: 1px solid rgba( 0, 0, 0, .1 );
  }
  .gt-sm-center-center {
    display: flex;
    place-content: center center;
  }
  table {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media print {
  .MuiDrawer-root,
  .toolbar,
  .MuiAppBar-root
  .hidden-from-print,
  .hidden-from-print * {
      display: none !important;
  }
  .fill-for-print {
    width: 100% !important;
  }
  .row-gt-xs {
    display: flex;
    flex-flow: row;
  }
  .start-start-gt-xs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
} */